html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
*,*::before,*::after{
    box-sizing: inherit;
    margin: 0px;
}


body{
    background: rgb(243 244 246);;

}
.form_login_wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}
.form_content{
    width: 350px;
    height: 250px;
    background: white;
    margin-top: calc( 50vh - 125px);
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
    box-shadow: 0px 3px 13px 12px #88888842;
}

.formlogin{
    width: 100%;
}

.title_text{
    font-size: 21px;
    width: 100%;
    margin-bottom: 12px;
}
.raw_input{
    font-size: 17px;
    width: 100%;
}
.raw_input_text{
    width: 100%;
}

.login_submit{
    position: absolute;
    bottom: 10px;
    padding: 10px;
    background: #502ab6;
    width: 100px;
    color: white;
    border-radius: 10px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #502ab6;
}
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #502ab6;
}
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #502ab6;
}

