html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
*,*::before,*::after{
    box-sizing: inherit;
    margin: 0px;
}




body{
    background: rgb(243 244 246);;

}


.wrapper_head_back{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 60px;
    background: white;
    box-shadow: 0px 3px 13px 12px #88888842;
    justify-content: space-between;
    align-items: center;
}
.left_part{
    font-size: 19px;
    margin-left: 26px;
    font-weight: 700;
}
.right_part{
    margin-right: 10px;
}
.button{
    background: #502ab6;
    padding: 12px;
    color: white;
    cursor: pointer;
}

.btncomp{
    width: 100%;
}

.wrapper_body{
    display: flex;
    flex-wrap: wrap;
}

.wrapper_body .left_part_body{
    width: 300px;
    padding: 10px;
}

.menu_head{
    margin-bottom: 10px;
}

.menu_sun_menu{
   display: none;
    flex-wrap: wrap;
}

.menu_sun_menu a{
    width: 100%;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content_part_body{
    padding: 10px;
    width: calc( 100% - 300px);
}

.div_12_content{
    width: 100%;
    background: white;
    margin-top: 12px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 2px 17px 5px #88888842;
    display: flex;
    flex-wrap: wrap;
}

.div_12_content .title_text{
    width: 100%;
    font-size: 20px;
    color: #502ab6;
    font-weight: 800;
    margin-bottom: 10px;
}

.div_12_content .data_show{
    width: 100%;

}


.btn_plus{
    display: flex;
    align-items: center;
    padding: -1px;
    text-decoration: none;
    color: black;
    border: 3px solid black;
    border-radius: 26px;
    width: 168px;
    margin-bottom: 10px;
    justify-content: center;
}



.table_list{
    width: 100%;
    border-spacing: 0px;
}


.table_list td, .table_list th {
    padding: 8px;
    border: 0px solid #ddd;
}

.table_list tr:nth-child(even){background-color: #f2f2f2;}


.table_list tr:hover {background-color: #ddd;}

.table_list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #AA67D5;
    color: white;
}


.form_12_div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
}
.form_12_div .title_form{
    width: 20%;
    font-size: 19px;
}

.form_12_div  .value_form{
    width: 80%;
}

.form_12_div  .value_form input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #502ab6;
}
.form_12_div  .value_form input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #502ab6;
}
.form_12_div  .value_form input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #502ab6;
}

.form_12_div   input[type=submit] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #502ab6;
    cursor: pointer;
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    width: 100%;
    min-height: 200px;
}